Footer {
  background-color: var(--color-granite);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  height: 10vh;
  width: 100vw;
}
